# Hugging Face token (required for gated models: google/gemma-3-4b-it, google/medgemma-4b-it)
# Accept the licenses on Hugging Face first:
#   https://huggingface.co/google/gemma-3-4b-it
#   https://huggingface.co/google/medgemma-4b-it
HF_TOKEN=
